body{
    font-family: 'Open Sans', sans-serif;
    background: url("bg-img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center{
    margin-top: 20%;
}

.fontsz{
    font-size: 50px;
}

a {color:#3a3838;}     
a:hover {color:#FFFFFF;} 
s